{{ define "main" }}
<div class="row row-about justify-content-center align-items-center">
  <div class="col-md-16 col-lg-7">
    <article>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </article>
  </div>
  <div class="col-md-16 col-lg-7 text-center">
    {{- partial "img" (dict "page" . "src" "images/support.webp" "class" "rounded")  }}
  </div>
</div>
{{ end }}
